<h1>Home Page</h1>
<div id="banner" class="carousel slide">
    
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    
  </ol>

  <div class="carousel-inner">
      
      <div class="item active">
        <%= link_to(image_tag("ResMedSale.png", :class => "img-responsive")) %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= link_to(image_tag("ResMedSale.png", :class => "img-responsive")) %>
        <div class="carousel-caption">
        </div>
      </div>

      <a href="#/" id="carousel-left" class="carousel-control left" data-slide="prev">
        <%= image_tag 'left.png' %>
        <span class="icon-prev"></span>
      </a>

      <a href="#/" id="carousel-right" class="carousel-control right" data-slide="next">
        <%= image_tag 'right.png' %>
        <span class="icon-next"> </span>
      </a>
    </div>
    
  </div>

<main id="content">
  <div class="container">
    <div class=' first-row'>
      <div class="col-sm-6">
        <h3 class="wow fadeInRight animated sale-title">On Sale Now</h3>
        <p></p>
      </div>
      <div class="col-sm-6">
        <%= link_to(image_tag("cpap-item-2.jpg", :class => "cpap-row")) %>
      </div>
    </div>


      <div class=' second-row'>
        <div class="col-sm-6">
          <%= link_to(image_tag("cpap-item-2.jpg", :class => "cpap-row")) %>
        </div>
        <div class="col-sm-6">
          <h3 class="wow fadeInRight animated top-title">Top Sellers</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class='row third-row'>

    <div class="first col-sm-4 col-xs-12">
      <h2 class="wow fadeInDown animated second-row-title" data-center-top="margin-left:-1;" 
      data-top-top="margin-left:1;">CPAP Machines</h2>
      <button class="wow fadeInLeft animated view-all" >View All</button>
    </div>

    <div class="second col-sm-4 col-xs-12">
      <h2 class="wow fadeInDown animated second-row-title">CPAP Masks</h2>
      <button class="wow fadeInLeft animated view-all">View All</button>
    </div>

    <div class="third col-sm-4 col-xs-12">
      <h2 class="wow fadeInDown animated second-row-title">Nebulizers</h2>
      <button class="wow fadeInLeft animated view-all">View All</button>
    </div>
  </div>

  <div class="sponsors">

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to(image_tag("ResMed-rg.png", :class => "sponsor")) %>
        </div>
        <div class="col-sm-3">
          <%= link_to(image_tag("invacare-rg.png", :class => "sponsor")) %>
        </div>
        <div class="col-sm-3">
          <%= link_to(image_tag("fisher-paykel-rg.png", :class => "sponsor")) %>
        </div>
        <div class="col-sm-3">
          <%= link_to(image_tag("pari-logo-rg.jpg", :class => "sponsor")) %>
        </div>
      </div>

      <div class="second-sponsrow">
        <div class="col-sm-4">
          <%= link_to(image_tag("Philips-rg.png", :class => "sponsor")) %>
        </div>
        <div class="col-sm-4">
          <%= link_to(image_tag("drive-medical-logo.jpg", :class => "sponsor")) %>
        </div>
        <div class="col-sm-4">
          <%= link_to(image_tag("sequal-logo.png", :class => "sponsor")) %>
        </div>
      </div>
    </div>
  </div>
  
</main>
